<mjml>
  <mj-body>
    <mj-section>
      <mj-column width="100%">
        <mj-image src="https://elevencoworking.com.br/new_site/wp-content/uploads/2022/09/logo-sem-fundo-1.png" width="110px" align="left" href="https://elevencoworking.com.br/"></mj-image>
        <mj-text font-size="16px" font-family="Helvetica Neue, Helvetica, Arial, sans-serif" padding-top="50px" color="#344054">Olá {firstname},</mj-text>
        <mj-text font-size="16px" font-family="Helvetica Neue, Helvetica, Arial, sans-serif" color="#344054" line-height="20px">No Elevenwork, não nos limitamos apenas a fornecer um espaço de trabalho incrível. Também nos preocupamos em promover o crescimento e o desenvolvimento dos nossos coworkers. Por isso, temos o prazer de apresentar nossa programação de eventos e workshops exclusivos!</mj-text>
        <mj-text font-size="16px" font-family="Helvetica Neue, Helvetica, Arial, sans-serif" color="#344054" line-height="20px">Nossos eventos abrangem uma variedade de tópicos relevantes para empreendedores e profissionais, desde palestras motivacionais até workshops práticos sobre marketing digital, finanças, networking e muito mais. Acreditamos que o conhecimento é uma ferramenta poderosa para impulsionar os negócios, e é por isso que buscamos trazer especialistas para compartilhar suas experiências e insights com você.</mj-text>
        <mj-text font-size="16px" font-family="Helvetica Neue, Helvetica, Arial, sans-serif" color="#344054" line-height="20px">Não deixe de conferir nossa agenda de eventos e workshops em nosso site e participe daqueles que mais despertam o seu interesse. Aproveite essa oportunidade única de aprendizado e networking em um ambiente inspirador!</mj-text>
        <mj-text font-size="16px" font-family="Helvetica Neue, Helvetica, Arial, sans-serif" color="#344054">Atenciosamente, Equipe Elevenwork</mj-text>
        <mj-button align="left" background-color="#FA7A22" font-size="16px" border-radius="8px" width="230px" height="44px" padding-top="50px" font-family="Helvetica Neue, Helvetica, Arial, sans-serif">Ver agenda de eventos</mj-button>
        <mj-text font-size="14px" font-family="Helvetica Neue, Helvetica, Arial, sans-serif" color="#344054" padding-top="50px" line-height="20px">Este email foi enviado para <span style="color: #FA8332">eleven@work.com</span>, se você prefere não receber mais esse tipo de email, você pode <span style="color: #FA8332">cancelar a sua inscrição</span>.</mj-text>
        <mj-text font-size="14px" font-family="Helvetica Neue, Helvetica, Arial, sans-serif" color="#344054" padding-top="20px" line-height="20px" align="center">Av. Brasil Centro Nº 71, Sala 18</mj-text>
        <mj-text font-size="14px" font-family="Helvetica Neue, Helvetica, Arial, sans-serif" color="#344054" align="center">© 2023 Elevenwork</mj-text>
      </mj-column> 
    </mj-section>
    <mj-section>
      <mj-column width="100%">
      	<mj-text font-size="14px" font-family="Helvetica Neue, Helvetica, Arial, sans-serif" color="#344054" align="center">
        {unsubscribe_text} | {webview_text}</mj-text>
      </mj-column>
    </mj-section>
    <mj-section>
      	<mj-column width="50%"> 
        <mj-image src="https://elevencoworking.com.br/new_site/wp-content/uploads/2022/09/logo-sem-fundo-1.png" width="80px" align="left" href="https://elevencoworking.com.br/"></mj-image>
        </mj-column>
 
      <mj-column width="25%"> 
        <mj-image src="https://i.postimg.cc/7ZNx7Dn9/iconFB.png" width="20px" align="right" href="https://www.facebook.com/elevenwork/"></mj-image>
        </mj-column>
      <mj-column width="25%"> 
        <mj-image src="https://i.postimg.cc/Bb5zyZ6w/icon-Insta.png" width="20px" align="left" href="https://www.instagram.com/eleven.work/"></mj-image>
        </mj-column>
      </mj-section>
  </mj-body>
</mjml>