<mjml>
  <mj-head>
  	<mj-font  name="Inter"
       href="https://fonts.googleapis.com/css?family=Inter" />
  </mj-head>
  <mj-body>
    <mj-section>
      <mj-column width="100%">
        <mj-image src="https://primeirotabelionato.com.br/wp-content/uploads/2018/09/logo.jpeg" width="110px" align="left" href="https://primeirotabelionato.com.br/"></mj-image>
        <mj-text font-size="16px" font-family="Inter" padding-top="50px" color="#344054">Olá {firstname},</mj-text>
        <mj-text font-size="16px" font-family="Inter" color="#344054" line-height="20px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</mj-text>
        <mj-text font-size="16px" font-family="Inter" color="#344054" line-height="20px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</mj-text>
        <mj-text font-size="16px" font-family="Inter" color="#344054" line-height="20px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</mj-text>
        <mj-text font-size="16px" font-family="Inter" color="#344054">Atenciosamente, Equipe Elevenwork</mj-text>
        <mj-button align="left" background-color="#025B8D" font-size="16px" border-radius="8px" width="230px" height="44px" padding-top="50px" font-family="Inter">Ver agenda de eventos</mj-button>
        <mj-text font-size="14px" font-family="Inter" color="#344054" padding-top="50px" line-height="20px">Este email foi enviado para <span style="color: #025B8D">eleven@work.com</span>, se você prefere não receber mais esse tipo de email, você pode <span style="color: #025B8D">cancelar a sua inscrição</span>.</mj-text>
        <mj-text font-size="14px" font-family="Inter" color="#344054" padding-top="20px" line-height="20px">© 2023 Elevenwork, Av. Independência Nº 925 2º andar Centro - Porto  Alegre/RS </mj-text>
      </mj-column> 
    </mj-section>
    <mj-section>
      	<mj-column width="50%"> 
        <mj-image src="https://primeirotabelionato.com.br/wp-content/uploads/2018/09/logo.jpeg" width="80px" align="left" href="https://primeirotabelionato.com.br/"></mj-image>
        </mj-column>
 
      <mj-column width="25%" > 
        <mj-image src="https://i.postimg.cc/7ZNx7Dn9/iconFB.png" width="20px" align="right" href="https://www.facebook.com/1TabelionatoProtestodePoa"></mj-image>
        </mj-column>
      <mj-column width="25%"> 
        <mj-image src="https://i.postimg.cc/Bb5zyZ6w/icon-Insta.png" width="20px" align="left" href="https://www.instagram.com/1tabelionatoprotestodepoa/"></mj-image>
        </mj-column>
      </mj-section>
  </mj-body>
</mjml>